{% extends 'webapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container bg-light shadow-md p-5 form-layout">

        <div class="text-center">
            <h3>
                Login to your account
            </h3>
        </div>

        <hr>
        <br>

        <form action="" autocomplete="off" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <br>
            <button type="submit" class="btn btn-primary w-100 btn-block"> Login<i class="bi bi-key"></i></button>
        </form>
        <br>

        <div class="text-center">
            <p>Don't have an account? <a href="{% url 'register' %}"> Register </a> </p>
        </div>
        <br>

    </div>

{% endblock %}